name: TEST
run-name: Deployment number ${{ github.run_number }} initiated by ${{github.actor}}

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      createTag:
        type: choice
        required: true
        description: 'Do you want to create a tag for the current state of the code after deployment?'
        default: NO
        options:
          - YES
          - NO
      tagName:
        description: Tag name to be created, follow semantic versioning - MAJOR.MINOR.PATCH e.g., 1.0.0 or 2.0.7 (required if Create Tag is 'YES' and should be unique)
      tagMessage:
        description: Tag message to associate with the tag (required if Create Tag is 'YES')

jobs:
  sync-build-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: PULL CODE
        uses: actions/checkout@v4
        with:
          ref: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag
        if: ${{ github.event.inputs.createTag == 'YES' && github.event.inputs.tagName != '' }}
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD)
          if git tag | grep -q "v${{ github.event.inputs.tagName }}-$BRANCH"; then
            echo "Tag v${{ github.event.inputs.tagName }}-$BRANCH already exists. Exiting without creating a new tag."
            exit 1
          fi
          git config --local user.name "${{ github.actor }}"
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git tag -a "v${{ github.event.inputs.tagName }}-$BRANCH" -m "${{ github.event.inputs.tagMessage }}"
          git push origin "v${{ github.event.inputs.tagName }}-$BRANCH"
          git tag # To list tags and verify
